<h1> Create </h1>

<!-- Task/Challenge 1 -->
<h2> Tie dye - everyone and their mothers are doing it, so can you! </h2>

<h3> Supplies: </h3>
<p> - Fabric dye (from a tie dye kit) </p>
<p> - Rubber bands </p>
<p> - Tarp or some sort of protective covering </p>
<p> - White clothes </p>

<h3> Steps: </h3>
<p> 1) Lay down your protective tarp so you don’t dye your table </p>
<p> 2) Take your white article of clothing and soak it in water </p>
<p> 3) Wring it out and tie with rubber bands </p> 
<p> 4) Squirt different color dye in desired sections </p>
<p> 5) Let dry, rinse, and wash </p>


<!-- Taks/Challenge 2 -->
