<h1>Exercise</h1>

<!-- Task/Challenge 1 -->

<h2>Yoga</h2>

<h3>Supplies:</h3>

<p> - A smartphone with the Yoga Studio app downloaded</p>
<p> - Comfortable clothing for light movement</p>
<p> - An open space with enough room that you could swing your arms and legs around without bumping anything</p>
<p> - Optional: A yoga mat</p>

<h3>Steps:</h3>

<p> 1) Clear an open space with enough room that you could swing your arms and legs around without bumping anything (or anyone). If you'd prefer privacy, see if you can get that, but it's not necessary! If you have a yoga mat, roll it out in that open space. </p>
<p> 2) Make sure that the clothing you are wearing will allow for comfortable movement and, if you're not in a private space, that you will be comfortable wearing it around others while doing yoga. </p>
<p> 3) Open the Yoga Studio app on your smartphone and select a routine. If you're not too experienced with yoga yet, a great first routine is the 10-minute Beginner Balance class under "Quick Fix - 10 Minute Yoga." </p>
<p> 4) Place your smartphone down nearby. If you need to see the model on the phone in order to do the positions, place your phone in a visible location; otherwise, just make sure the sound is on and it's close enough to hear, but not so close that you'll bump into it or step on it. </p>
<p> 5) Follow the directions for the Yoga Studio class! </p>

<!-- Task/Challenge 2 -->

<h2>Maybe you've heard of Broadway Jackbox...but have you heard of Broadway Jumping Jacks?</h2>

<h3>Supplies:</h3>

<p> - A phone, computer, or other music player</p>
<p> - The song "Sunday Morning Fever" from the cast recording of "Sister Act"</p>
<p> - An open space with enough room for jumping jacks</p>
<p> - Comfortable clothing for movement</p>

<h3>Steps:</h3>

<p> 1) Turn on your phone, computer, or other music player and navigate to the song "Sunday Morning Fever" from the cast recording of the musical "Sister Act." </p>
<p> 2) Swing your arms and legs and do a few practice jumping jacks to ensure your space has enough room for the exercise. </p>
<p> 3) If you don't have enough space, find a different area; if you do have enough space, press play on the music player. </p>
<p> 4) Do jumping jacks in rhythm to the song. During slower sections or sections of dialogue, take a rest. During the fast sections with a clear beat, do jumping jacks for as long as you can! </p>
<p> 5) For a "change of scenery," try rotating 90 degrees every 10 or 20 jumping jacks. </p>
<p> 6) When you're finished exercising to the song, be sure to stretch! </p>

<!-- Task/Challenge 3 -->

<h2>Dance Class with Debbie Allen</h2>

<h3>Supplies:</h3>

<p> - A computer or smartphone</p>
<p> - <a href="https://www.youtube.com/playlist?list=PLxzwKJQK8XexidO6RjVTy1uNH4C5ArBO4" target="_blank">This YouTube playlist of recorded dance classes with Debbie Allen</a></p>
<p> - An open space with enough room that you could swing your arms and legs around without bumping anything</p>
<p> - Socks or comfortable shoes</p>
<p> - Comfortable clothing for movement</p>

<h3>Steps:</h3>

<p> 1) Set up your computer or smartphone far enough away from your open space that you can move your arms and legs without bumping into it, but close enough and positioned so that you can still see and hear the instructions from (dance legend) Debbie Allen. </p>
<p> 2) Decide whether to start with jazz or salsa: Debbie Allen has both options! </p>
<p> 3) Take the virtual class! </p>