<h1> Garden </h1>

<!-- Task/Challenge 1 -->
<h2>Grow with some seeds</h2>

<h3> Supplies: </h3>
<p> - Seeds </p>
<p> - Soil </p>
<p> - Pots </p>
<p> - Water </p>

<h3> Steps: </h3>
<p> 1) Fill your pot with dirt </p>
<p> 2) Dig a little well in the dirt - don’t be afraid to get your hands a little dirty. </p>
<p> 3) Place your seeds in the hole. </p> 
<p> 4) Cover with more dirt. </p>
<p> 5) Water! And don’t forget to water every few days. </p>

<br> 
<br> 
<!-- Task/Challenge 2 -->
<h2> Grow some vegetables - don’t have seeds? Don’t worry! Just open your fridge - works really well for scallions. </h2>

<h3> Supplies: </h3>
<p> - Scallions </p>
<p> - Glass/cup </p>
<p> - Water </p>

<h3> Steps: </h3>
<p> 1) Grab your scallions and cut those roots off.</p>
<p> 2) drop those roots in a glass of enough water to cover them - make sure the roots point down.</p>
<p> 3) Now scallions will regrow! Be sure to change the water every couple of days. </p> 

<br> 
<br> 
<!-- Task/Challenge 3 -->
<h2> Make a fake garden - don’t have any supplies to grow anything real? Make a fun fake garden</h2>

<h3> Supplies: </h3>
<p> - Shoebox </p>
<p> - Art supplies (glue, tape, paper, scissors, pipe cleaners, popsicle sticks) </p>

<h3> Steps: </h3>
<p> 1) Remove the lid off your shoebox - you can use just the bottom half - flip it upside down so you have a flat surface to work with.</p>
<p> 2) Cut green paper (you can also paint or color white paper) to look like grass and tape/glue to box. </p>
<p> 3) Use pipe cleaners or popsicle sticks and paper to make flowers and plants.</p> 
<p> 4) Tape or glue those plants to the box.</p>
<p> 5) Put your box in the window - it’s just like a window box planter! </p>


<button onclick="back()" class="red"> &lt; &lt; </button>
