
<div class="content">
    
<!----header--->
    <div class="row">
        <div class="col">
            <span id="goal">today I am going to...</span>
        </div>
    </div>
    <br><br><br>
    
    <div class="row">
        <div class="col">
            <i id="writing" onclick="writing()" class="fas fa-pencil-alt"><br>Write</i>
        </div>
        <div class="col">
            <i id="garden" onclick="garden()" class="fas fa-seedling"><br>Plant</i>
        </div>
        <div class="col">
            <i id="read" onclick="read()" class="fas fa-book-reader"><br>Read</i>
        </div>
    </div>
    
    <br><br>
    
    <div class="row">
        <div class="col">
            <i id="writing" onclick="draw()" class="fas fa-pencil-ruler"><br>Craft</i>
        </div>
        <div class="col">
            <i id="writing" onclick="writing()" class="fas fa- fa-music"><br>Music</i>
        </div>
    </div>
    
</div>



<!--
<div id="intro">

    <span id="goal" contenteditable="true">today I am going to...</span>

    <div id="control">

        <i id="writing" onclick="writing()" class="fas fa-sticky-note"></i>
        <i id="draw" onclick="draw()" class="fas fa-pencil-alt"></i>
        
    </div>

</div>
-->
