<div class="content">

    <!----header--->
    <div class="row">
        <div class="col">
            <span id="goal">today I am going to...</span>
        </div>
    </div>
    <br><br><br>

    <div class="row iconRow">
        <div class="col icon lightBlue borderPop " onclick="write()">
            <i id="write" class="fas fa-pencil-alt  "></i>
            Write
        </div>
        <div class="col icon green borderPop" onclick="garden()">
            <i id="garden" class="fas fa-seedling"></i>
            Plant
        </div>
        <div class="col icon purple borderPop" onclick="read()">
            <i id="read" class="fas fa-book-reader"></i>
            Read
        </div>
    </div>

    <br><br>

    <div class="row iconRow">
        <div class="col icon red borderPop" onclick="draw()">
            <i id="writing" class="fas fa-pencil-ruler "></i>
            Craft
        </div>
        <div class="col icon darkBlue borderPop" onclick="music()">

            <i id="music" class="fas fa-music borderPop "></i>
            Music
        </div>
    </div>
    <div class="row">
        <div class="col icon lightBlue borderPop" onclick="list()">
            <i>go to list</i>
        </div>
    </div>


</div>



<!--
<div id="intro">

    <span id="goal" contenteditable="true">today I am going to...</span>

    <div id="control">

        <i id="writing" onclick="writing()" class="fas fa-sticky-note"></i>
        <i id="draw" onclick="draw()" class="fas fa-pencil-alt"></i>
        
    </div>

</div>
-->
