<script>
    document.getElementById("goal01").innerHTML = localStorage.getItem("goal_01_00");

    document.getElementById("step01").innerHTML = localStorage.getItem("goal_01_01");
    document.getElementById("step02").innerHTML = localStorage.getItem("goal_01_02");
    document.getElementById("step03").innerHTML = localStorage.getItem("goal_01_03");
    document.getElementById("step04").innerHTML = localStorage.getItem("goal_01_04");
    document.getElementById("step05").innerHTML = localStorage.getItem("goal_01_05");

</script>

<h2>My Goals</h2>
<div class="section">
    <h3 id="goal01"></h3>
    <ul>
        <li><span id="step01"></span></li>
        <li><span id="step02"></span></li>
        <li><span id="step03"></span></li>
        <li><span id="step04"></span></li>
        <li><span id="step05"></span></li>
    </ul>
</div>
