<h1>Write</h1>

<div class="section">
    <!-- Task/Challenge 1 -->
    <h2 id="writing_01_00">What is something you learned today?</h2>

    <h3>Supplies:</h3>

    <p> - A writing implement: pen or pencil works just fine</p>
    <p> - Something to write on: a notebook could be good if you want to do a lot of writing, or just some paper</p>
    <p> - If you prefer, a computer with a word processor or a phone with a Notes app is fine too</p>

    <h3>Steps:</h3>

    <p id="writing_01_01"> 1) Try to give yourself a private space for a short time. If that's not possible, at least try to quiet your headspace before you begin writing. </p>
    <p id="writing_01_02"> 2) Think about something you learned today. This doesn't need to be academic! </p>
    <p id="writing_01_03"> 3) Feel free just to let yourself write from that prompt, but in case you need a little more guidance: </p>
    <p id="writing_01_04"> &nbsp;&nbsp;&nbsp; - Is it something you learned about yourself? About your family? About a friend? About the world? </p>
    <p id="writing_01_05"> &nbsp;&nbsp;&nbsp; - Or maybe there's something new you learned about your house or apartment: a new nook or cranny, a space you'd never thought was interesting before? </p>

    <button onclick="addGoal('writing_01')" class="lightBlue">Add to MyList</button>

</div>

<br>
<br>

<div class="section">
    <!-- Task/Challenge 2 -->
    <h2 id="writing_02_00">Write a photo story letter - our grandparents would love to hear from us right now!</h2>

    <h3>Supplies:</h3>

    <p> - A writing implement, if you want to write by hand: pen or pencil works just fine</p>
    <p> - Some paper, if you want to write by hand</p>
    <p> - An envelope, if you want to write by hand</p>
    <p> - Stamp(s), if you want to write by hand</p>
    <p> - Some printed photos to include, if you want to write by hand: ideally these can tell a story about what you've been up to</p>
    <p> - Microsoft Word, Google Docs, or Pages, if you want to write by email</p>
    <p> - An email account, if you want to write by email</p>
    <p> - Some electronic photos to include, if you want to write by hand: ideally these can tell a story about what you've been up to</p>

    <h3>Steps:</h3>

    <p id="writing_02_01"> 1) Choose whether you'd like to write by hand or by email. While sending a physical piece of mail is a nice gesture, if you can't get to a mailbox or know your recipient might be nervous about coming into contact with COVID-19, you may want to opt for sending an electronic letter, which can be just as meaningful. </p>
    <p id="writing_02_02"> 2) Choose your photos: when I did this exercise myself, I selected photos from one month of my semester abroad in London, to tell my grandpa about our first month of adventures there. </p>
    <p id="writing_02_03"> 3) Start your letter: if you are writing a physical letter by hand, you may choose to cut and paste your photos alongside your writing, or you may choose to label them "Photo 1," "Photo 2," etc., and refer to them that way in your letter. </p>
    <p id="writing_02_04"> 4) If you are writing an electronic letter by email, you can place photos in your word processing document and format them as you wish. </p>
    <p id="writing_02_05"> 5) Either way, let the photos inspire the letter: if you've picked photos that can really tell a story, this should happen naturally. </p>
    <p id="writing_02_06"> 6) Send your letter! </p>
    <button onclick="addGoal('writing_02')" class="lightBlue">Add to MyList</button>
</div>
<br>
<br>

<div class="section">
    <!-- Task/Challenge 3 -->
    <h2 id="writing_03_00">Do some focused writing on a topic that piques your interest!</h2>

    <h3>Supplies:</h3>

    <p> - A writing implement: pen or pencil works just fine</p>
    <p> - Something to write on: a notebook could be good if you want to do a lot of writing, or just some paper</p>
    <p> - A computer with a word processor would work too, but physical writing implements are recommended!</p>
    <p> - An old-fashioned timer or a phone or computer with a timer app</p>

    <h3>Steps:</h3>

    <p id="writing_03_01"> 1) Set a timer for three minutes. </p>
    <p id="writing_03_02"> 2) In those three minutes, write down as many topics that you are interested in as you can think of. Try to keep writing for the entire three minutes: it's okay if topics repeat or overlap. </p>
    <p id="writing_03_03"> 3) Set a timer for one minute. </p>
    <p id="writing_03_04"> 4) Pick five of the topics you wrote down that you are especially curious about right now. </p>
    <p id="writing_03_05"> 5) Set a timer for thirty seconds. </p>
    <p id="writing_03_06"> 6) Pick one of those five topics to focus on for this exercise. </p>
    <p id="writing_03_07"> 7) Set a timer for 30-60 minutes. </p>
    <p id="writing_03_08"> 8) Create a piece of writing of any genre inspired by that topic. (It's okay if the topic morphs as you write!) Try not to edit or research as you go; let your writing flow organically any save revisions for another day. </p>
    <button onclick="addGoal('writing_03')" class="lightBlue">Add to MyList</button>
</div>

<button onclick="back()" class="red"> &lt; &lt; </button>
